.trade
  height: 100%
  margin: 0 auto
  display: grid
  grid-template-columns: 380px 1fr 380px
  grid-template-rows: 1fr

/* .trade .order */

.order
  grid-column: 3
  grid-row: 1
  padding: 32px

  .sub-title
    margin-top: 0
    font-size: 14px
    font-weight: 400

  #size-input, #price-input
    display: block
    width: 290px
    height: 32px
    margin: 20px 0
    text-align: center
    background: rgba(27, 31, 39, .4)
    color: rgba(233, 233, 233, 1)
    font-size: 16px
    border: none
    border-radius: 4px

  .order-buttons
    width: 316px
    margin: 0

    button
      height: 32px
      width: 136px
      font-size: 14px
      color: rgba(232, 232, 232, 1)
      border: none
      border-radius: 4px
      &:hover
        opacity: 0.8
      &:disabled
        cursor: not-allowed
        opacity: 0.3
        &:hover
          opacity: 0.3

    .sell-button
      margin-right: 20px
      background: rgba(247, 105, 77, 1)

    .buy-button
      background: rgba(237, 169, 9, 1)

    .clear-button
      margin-right: 20px
      color: rgba(44, 57, 64, 1)
      background: rgba(232, 232, 232, 1)

    .clear-order-button
      color: rgba(44, 57, 64, 1)
      background: rgba(232, 232, 232, 1)
