version: 2
jobs:
  build:
    working_directory: ~/workspace
    docker:
      - image: cimg/node:18.20.5
    steps:
      - checkout
      - restore_cache:
          name: Restoring Cache - dependencies
          keys:
            - v2-dependencies-{{ .Branch }}-{{ checksum "package-lock.json" }}
      - run:
          name: Install dependencies
          command: npm ci
      - run:
          name: Lint
          command: npm run lint
      - save_cache:
          paths:
            - ~/workspace/node_modules
            - ~/.npm
          key: v2-dependencies-{{ .Branch }}-{{ checksum "package-lock.json" }}
      - deploy:
          command: |
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              npm run deploy
            fi
