.setting
  height: 100%
  width: 1080px
  margin: 0 auto

  .api-key, .api-secret
    height: 48px
    line-height: 48px

  .api-key label
    display: inline-block
    width: 120px

  .api-secret label
    display: inline-block
    width: 120px

  #api-key-input, #api-secret-input
    -webkit-appearance: none
    width: 360px
    padding: 4px 12px
    border-radius: 4px
