.summary
  grid-column: 1
  grid-row: 1
  padding: 32px
  background: rgba(27, 27, 27, 1)
  font-size: 13px

  .collateral, .current-price, .position, .position-size, .position-diff, .profit, .market-state, .board-state
    height: 32px
    line-height: 32px

  .label
    display: inline-block
    width: 140px

  .number
    display: inline-block
    width: 140px

  .unit
    font-size: 12px

  .plus
    color: green

  .minus
    color: red

  .health
    display: inline-block
    padding-right: 12px

  .good
    color: green

  .bad
    color: red

  .histories
    padding: 0
    max-height: 300px
    height: 300px
    overflow: scroll

  .history
    list-style-type: none

    span
      display: inline-block
      font-size: 11px
      line-height: 24px

    .name
      width: 50px

    .description
      width: 180px

    .created-at
      width: 50px

    .success
      width: 20px
      color: green

    .failed
      width: 20px
      color: red

